#app {
  .main-container {
    height: calc(100vh - 70px);
    overflow: hidden;
    transition: margin-left 0.28s;
    position: relative;
    background: rgba(2, 21, 48, 1);
  }

  .sidebar-container {
    background-color: $menuBg;

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }
  }

  //导航设置
  .nav-toplist {
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-menu-item {
      width: 258px;
      height: 100%;
      line-height: $menuNavHeight;
      text-align: right;
    }

    .zd-menu-demo {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .zd-menu-item {
        margin: 0 60px;
        height: 100%;
        line-height: 90px;
        // border-bottom-width: 3px;

        &:hover {
          color: #fff !important;
          border-bottom-color: $menuHover !important;
        }
      }

      .zd-submenu {
        height: 90px;
        line-height: 90px;
        margin: 0 60px;

        .el-submenu__title {
          height: 100%;
          line-height: 100%;
        }
      }
    }

    .el-menu--horizontal {
      border-bottom-color: $subMenuBg;
    }
  }

  // menu hover
  .submenu-title-noDropdown,
  .el-submenu__title {
    &:hover {
      color: $menuHover !important;
    }
  }

  .is-active>.el-submenu__title {
    color: $subMenuActiveText !important;
  }

  & .nest-menu .el-submenu>.el-submenu__title,
  & .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $menuHover !important;

    &:hover {
      color: $menuHover !important;
    }
  }
}

// when menu collapsed
.el-menu--horizontal {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      color: #fff !important;
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
