:export {
  menuText: #fff;
  menuActiveText: #29CB97;
  subMenuActiveText: #29CB97;
  menuBg: #010E21;
  menuHover: #29CB97;
  subMenuBg: #010E21;
  subMenuHover: #29CB97;
  sideBarWidth: 210px;
  menuNavHeight: 70px;
  menuNavTextSize: 18px;
}
